* {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-family: "chivo";
    margin:0;
}

.main-div {
    background-color: #242428;
    padding: 20px;
    border-radius: 5px; 
    justify-items: center;
    display: block;
}

.test-button {
    background-color: #585861;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s ease;
    margin-top: 50px;
}

.test-button:hover {
    background-color: #3a3b3d;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.test-button:active {
    background-color: #2a2b2d;
}